//Font family for Title and subtitle class
@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Tajawal');

$family-sans-serif : 'Tajawal', sans-serif;
$title-weight: 800;

.title{
	font-family: 'Montserrat', sans-serif !important;
}
.has-space{
	letter-spacing: $letter-spacing;
}